body{
  background-image: url('../public/static//images//bg-pattern-top.svg'), url('../public/static//images//bg-pattern-bottom.svg');
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
